# Monorepo Git Ignore Settings

# dependency folders
node_modules/

# local builds & output
.next/
out/
build/

# database & config keys
.env
.env*
dev.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
